header {
  padding: 40px;
  text-align: center;
  background: lightblue;
  color: white;
  font-size: 30px;
}
/*Header*/
/*navbar*/
nav {
  background-color: #333;
  text-align: center;
  padding: 20px;
}
nav a {
  padding: 10px;
  margin: 0px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #111;
}
/*Navbar*/

/*footer*/
footer {
  padding: 30px;
  background-color: rgb(16, 11, 10);
}
.col h3 {
  color: greenyellow;
}
.col a {
  text-decoration: none;
  color: white;
}
.col a:hover {
  color: blue;
}

.submit1 {
  background-color: rgb(20, 85, 20);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
  width: 150px;
  text-transform: uppercase;
}

.submit1:hover {
  background-color: greenyellow;
  color: black;
}
/*Footer*/






.container1
{
width: 1000px;
margin-left: 100px;

}



  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    margin-left: 18px;
    margin-bottom: 16px;
    padding: 0 8px;
    width: 23%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 22 15px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  #bilal{
    

    float: right;
    margin-bottom: 12px;
    
    width: 23%;
    margin-top: -676px;
    margin-right: 38px;
    padding: 0 8px;
  }